@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.remark-slide-content {
  background-color: rgba(203, 56, 55, 1);
  color: white;
}

.comic {
  font-family: 'Comic Sans MS';
}

code {
  background-color: #4e4e4e;
  color: #e6e6e6;
  padding: 15px;
}

li > code {
  background-color: none;
  padding: 0;
}

a:visited, a:active, a {
  color: white;
}

.stats h1, .stats h2 {
  background-color: rgba(203, 56, 55, 1);
  color: white;
  padding: 10px 20px;
}

.nodetogether h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 5em;
  font-weight: 400;
}

.nodetogether h2, .nodetogether a {
  color: #6ea2c9;
}

.nodetogether img {
  width: 750px;
}

.dependencies li h2 {
  margin-top: -50px;
}

.dependencies li img {
  position: relative;
  top: 40px;
}

.nodetogether pre {
  margin-top: -50px;
  color: #80bd01;
  font-size: 2.5em;
}

.nodetogether h3 {
  font-family: 'Courier', monospace;
  color: #80bd01;
  font-size: 3.5em;
}

.nodetogether {
  background-color: #2a303c;
  color: white;
}

.citation {
  font-size: 0.7em;
  padding: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(203, 56, 55, 1);
}

.real-big {
  font-size: 2em;
}

#heart {
  position: relative;
  top: 20px;
}
